*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

@font-face {
  font-family: myFont;
  src: url(CHABUL.ttf);
} 

@font-face {
  font-family: myFont2;
  src: url(Freshman.ttf);
}

@

.FContainer {
  display: flex;
/*justify-content: center;
  align-items: center;*/
  background-color: #73a8ea;
}

.satu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  background-color: white;
  box-shadow: 0 7px 25px 0 #90c2e7;
}

.brand {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  padding: 10px;
  text-transform: capitalize;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation>li {
  list-style-type: none;
  padding: 15px;
  display: inline-block;
  margin-right: 20px;
  text-align: right;
}

.navigation>li>a {
  color: rgb(0, 6, 6);
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation>li>a:hover {
  background-color: rgb(97, 99, 171);
  transition: all .8sease-in-out;
}
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
 .absolute {
    width: 90%;
    height: 10%;
    margin-top: 1000px;
  }

  article {
    background-color: rgba(255, 255, 255, 0.82);
    color: rgb(67, 39, 4);
    padding: 2em;
    margin: 90px;
    padding: 50px;
    height: 1000px;
    align-content: center;
}

section {
    margin-bottom: 20px;
}

figure{
    padding: 2px;
    margin: 20px;
   float: right;
}

figcaption{
    padding: 2px; 
    text-align: center;
}

.a{
    display: inline-block;
    text-align: center; 
    margin-right: 30px;
    opacity: 0.5;
}

.a:hover{ 
    opacity: 1.0;
}

  h1, h2 {
    color: #333;
  }
  
  footer {
    background-color: #73a8ea;
    color: #fff;
    padding: 10px 0 30px;
    font-size: 13px;
    line-height: 20px;
    bottom: 0;
    clear: both;
    width: 100%;
  }

  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .col {
    flex-basis: 25%;
    padding: 10px;
  }

  .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }

  .form {
    padding: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #73a8ea;
  }

  .form input {
    width: 100%;
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
  }

  .form button {
    border: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
  }